.email_container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30vh;
  width: 100%;

  margin-top: 150px;
}
.email_container_box {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 95%;
  background-color: #32be71;
}
.email_container_box span {
  color: #fcf6f5;
  font-weight: 600;
  font-size: 20px;
}
.email_container_box input {
  width: 50%;
  height: 60px;
  border-radius: 4px;
  border: 2px solid #2bae66;
  padding-left: 30px;
}
.email_container_box input::placeholder {
  color: #2bae66;
  font-weight: 500;
  font-size: 20px;
}
@media (max-width: 600px) {
  .email_container {
    margin-top: 1750px;
    height: 20vh;
  }
  .email_container_box {
    width: 100%;
  }
  .email_container_box input {
    width: 80%;
    height: 50px;
  }
}
